---
import SocialIcon from './SocialIcon.astro';

const socialLinks = [
  { platform: 'instagram', url: 'https://instagram.com/chrisberryauthor' },
  { platform: 'medium', url: 'https://medium.com/@chris.berry07' },
  { platform: 'substack', url: 'https://substack.com/@rawthreads' },
  { platform: 'facebook', url: 'https://www.facebook.com/profile.php?id=100091741922032' },
  { platform: 'linkedin', url: 'https://www.linkedin.com/in/chrisberry07/' },
];
---

<footer class="bg-[#161B22] border-t border-gray-800 py-8">
  <div class="container mx-auto px-4">
    <div class="flex justify-center space-x-6">
      {socialLinks.map(({ platform, url }) => (
        <SocialIcon platform={platform} url={url} />
      ))}
    </div>
    <div class="text-center mt-4 text-gray-400">
      &copy; {new Date().getFullYear()} Chris Berry - Author. All rights reserved.
    </div>
  </div>
</footer>